body :not(.areas *) {
    border: #7f99da solid 1px;
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section {
    margin: 10px;
    height: fit-content;
    padding: 10px;
}

.main .coords-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-coord {
    display: block;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.x-coord {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-bottom: 10px;
}

.x-coord .x-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.y-coord {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.y-coord .y-input {
    display: flex;
    flex-wrap: wrap;

}

.r-coord {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.r-coord .r-radios {
    display: inherit;
    flex-wrap: wrap;
    gap: 7px;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black dashed 1px;
    border-radius: 20px;
    padding: 5px;
}

.warn-msg {
    word-wrap: normal;
    margin-left: 20px;
    display: inline;
    height: fit-content;
}

.form-final {
    order: -1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-final .form-reset, .form-submit {
    height: fit-content;
}

.form-final .form-submit .submit-btn {
    background: #e18d2c;
    padding: 5px;
    color: black;
}

#final-input-r, #final-input-x, #final-input-y {
    min-width: 30px;
    min-height: 30px;
}

.table .table-header {
    display: flex;
    justify-content: space-around;
}

.table-reset-btn {
    display: inline-block;
}